* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0056b3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container h2 {
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
}

.container {
    background-color:#f0f2f5;
    border-radius: 1rem;
    padding: 2rem;
    height: 55vh;
    width: 45vh;
    border-radius: 1rem;
    /* box-shadow: 1px solid lightgrey; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9); 
}

form {
    margin: 2rem 0 2rem 0;
}

form p {
    font-size: 1.3rem;
}

.amount p {
    margin-bottom: 0.7rem;
}

form select,button,input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgrey;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.select-contianer img {
    max-width: 2.5rem;
    margin-left: 0.15rem;
}

.select-contianer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    background-color: white;
}

.msg {
    text-align: center;
    margin: 0.2rem 0 2rem 0;
}


.btn {
    height: 3.75rem;
    font-size: 1.2rem;
    background-color: #0056b3;
    color: #f0f2f5;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
    cursor: pointer;
} 

.btn:active {
    transform: translateY(2px); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    background-color: #004494; 
}